<!DOCTYPE html>
<html>
    <head>
        <script>
            UPLOADCARE_PUBLIC_KEY = 'demopublickey';
        </script>
        <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
    </head>
<body>
<h1>కామెర్లు</h1>
<div class="states">
    <a class="b1" href="k/#ap">Andhra Pradesh</a>
    <a class="b2" href ="k/#ts">Telangana State</a>
</div>
<div id="ap">
    <h2>Tirupati</h2>
    <div class="t">
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
            <a>TREATEMENT FOR:</a>
            <a>కామెర్లు</a>
            <a>కీళ్ల వాతం</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
    </div>
    <h2>Tirupati</h2>
    <div class="t">
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
    </div>

</div>
<br>

<hr style="height:1rem; background-color:black;">
<br>


<div id="ts">
    <h2>Hyderabad</h2>
    <div class="t">
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
    </div>
    <h2>Khammam</h2>
    <div class="t">
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
        <div class="t1">
            <a>V Bala Krishna</a>
            <a>ph:9347580090</a>
        </div>
    </div>

</div>
<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
</body>
</html>