<div class="h">
    <br>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <div class="container">
        <div class="logo">
            <img  src="assets/logo.jpg">
        </div><br>
        <div class="scrollable-list">
            <h1>Events</h1>
            <ul>
                <li class="notification-item">
                    
                    <a href="assets/ICTMNT-2025-3.pdf" target="_blank">
                        ICTMNT-2025(అంతర్జాతీయ సదస్సు) <br>
                        from 9-11 April, 2025 <br> 
                        at SV University, Tirupati
                    </a>
                </li>
                
            </ul>
        </div>
        
    </div>
    <br>
    <div class="slider-container">
        <h2 style="text-align: center;">Photos</h2>
        <div class="slider-images">
            <!-- <img src="assets/im1.png"> -->
            <img src="assets/i1.jpg">
            <img src="assets/i6.png">
            <img src="assets/i2.jpg">
            <img src="assets/i3.jpg">
            <img src="assets/i4.jpg">

        </div>
    </div>
    
</div>
    

   


