<div class="h">
    <br>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <div class="container">
        <div class="logo">
            <img  src="assets/logo.jpg">
        </div><br>
        <div class="scrollable-list">
            <h1>Events</h1>
            <ul>
                <li class="notification-item">
                    
                    <a href="assets/ICTMNT-2025-3.pdf" target="_blank">
                        ICTMNT-2025(అంతర్జాతీయ సదస్సు) <br>
                        from 9-11 April, 2025 <br> 
                        at SV University, Tirupati <small class="color-changing-text">~brochure</small>
                    </a>
                </li>
                
            </ul>
        </div>
        
    </div>
    <br>
    <!-- <h1>IPL Video Highlights</h1> -->

    <h1>Videos</h1>

    <div class="basic-video-list-container">
        <div *ngFor="let video of videos" class="video-item" (click)="openVideoModal(video.url)">
          <img [src]="video.thumbnail || 'assets/images/default-video-thumb.png'" alt="{{ video.title }}" />
          <div class="video-title">{{ video.title }}</div>
        </div>
        <br><br>
      </div>
    
      <div class="modal" *ngIf="isModalOpen" (click)="closeVideoModal($event)">
        <div class="modal-content">
          <span class="close-button" (click)="closeVideoModal()"> &times; </span>
          <video id="modalVideo" width="800" height="450" controls *ngIf="selectedVideoUrl" [src]="selectedVideoUrl"></video>
          <div *ngIf="!selectedVideoUrl">No video selected.</div>
        </div>
        
      </div>
      
    <br>
    <h1>Photos</h1>
    <div class="slider-container">
        <img [src]="images[currentIndex]" class="slider-image" />
        <button (click)="prevImage()" class="slider-button prev" aria-label="Previous image">&lt;</button>
        <button (click)="nextImage()" class="slider-button next" aria-label="Next image">&gt;</button>
      </div>
    <br><br>
    
</div>
    

   


